@(user: User)

@main("Log In", user) {
    <h1>Log In</h1>
    @helper.form(routes.Login.authenticate) {
        <div class="form-group">
            <label for="usernameInput">Username:</label>
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="usernameInput">Password:</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <input type="submit" class="btn btn-default">
    }
}