@(user: User)

@main("Sign Up", user) {
    <h1>Sign Up</h1>
    @helper.form(routes.Login.signupDo) {
        <div class="form-group">
            <label for="usernameInput">Username:</label>
            <input type="text" class="form-control" name="username" placeholder="Bob_McBobbington">
        </div>

        <div class="form-group">
            <label for="usernameInput">Password:</label>
            <input type="password" class="form-control" name="password" placeholder="hunter2">
        </div>

        <div class="form-group">
            <label for="usernameInput">E-mail:</label>
            <input type="email" class="form-control" name="email" placeholder="bob@@mcbobbington.com">
        </div>

        <input type="submit" class="btn btn-default">
    }
}