@(user: User)

@main("Upload", user) {
    <script src="@routes.Assets.at("javascripts/upload.js")"></script>
    <h1>Upload Video</h1>
    <div class="alert alert-danger upload-error-box">
        <span class="upload-error"></span>
    </div>
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-info" id="uploadProgress" style="width: 0%">
            <span class="statusText">Waiting</span>
        </div>
    </div>
    @helper.form(routes.Upload.uploadDo, ('class, "upload-form")) {
        <div class="form-group">
            <label for="titleInput">Title</label>
            <input name="title" type="text" class="form-control" id="titleInput" placeholder="My Cool New Video">
        </div>
        <div class="form-group">
            <label for="descInput">Description</label>
            <textarea name="desc" class="form-control" id="descArea" placeholder="Take a look at this new cool video, starring me and my friend Jack!"></textarea>
        </div>
        <div class="form-group">
            <input type="file" id="fileInput" name="file">
        </div>
        <button type="button" class="uploadButton btn btn-default">Upload!</button>
    }
}
